body,div,nav,span,form{
    box-sizing: border-box;
    padding:0;
    margin:0;
}
body{
    background:url('https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1563168278940&di=2f6fe723dc72e24091c85b7823e2d027&imgtype=0&src=http%3A%2F%2Fpic.vjshi.com%2F2018-06-02%2F5b76aae566350a4d547d99b7c112589b%2F00002.jpg%3Fx-oss-process%3Dstyle%2Fwatermark');
    height:100%;
    width:100%;
}
body #content{
    padding:20px;
}
.top{
    position: relative;
    right:-200px;
    top:30px;
}
.top div{
    color:white;
    display: inline-block;
    font-size: 20px;
    border:3px solid white;
    background:transparent;
    height:75px;
    width:75px;
    text-align: center;
    padding:20px 10px;
    border-radius:33px;
    font-family: fantasy;
}
.top div:hover,.top div:active{
    background-color:white;
    color:black;
    cursor: pointer;
}
.top div:visited{
    color:black;    
}
body form#login{
    border:2px solid wheat;
    width:40%;
    margin:auto auto;
    color:white;
    background-color:black;
    border-radius: 15px;
    box-shadow: 5px 5px 10px gray;
    font-family: Arial, Helvetica, sans-serif;
}
#login>div{
    width:50%;
    margin:10px auto;
}
#login input{
    background:transparent;
    color:saddlebrown
}
div#start{
 position:absolute;
 top:0px;
 background-color:black;
 width:100%;
 height:100%;
 z-index:-1;
 opacity: 0.8;
}
